@{
    ViewBag.Title = "Excel to Html";
    ViewBag.Home = "class=active";
}
    
   
    <p />
      <div class="jumbotron">
      <br>
        <h1>Excel => Website </h1>
        @*<p class="lead">Turn your favorite worksheet into a fully functional web application in minutes</p>*@
        <h2>Turn spreadsheets into web applications</h2>
        <h3>It's easy...  It's Free...</h3>       
        <p />
        <a class="btn btn-large btn-success" href="../Worksheets/UploadDemo">Try it now!</a>
      </div>
      <br /> <br />
            <hr>

        <div class="row">
        <div class="span4">
           <h2>No Programming</h2>
          <p>No programmers required! If you can write a spreadsheet, you can make a web application.  Create a fully functional web application using software that you already understand.  </p>
        </div>
        <div class="span4">
          <h2>Access Anywhere</h2>
          <p>Once created, your application will be accesssible via the web, smartphones, and tablets - without spreadsheet software. </p>

       </div>
        <div class="span4">
          <h2>Publish & Share</h2>
          <p>Share your genius!  Once uploaded, your application will be accessable across the globe by millons of internet users.</p>
          <p><a class="btn" href="/Worksheets">Examples &raquo;</a></p>
        </div>
      </div>
      <!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>    (function () { var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true; uv.src = '//widget.uservoice.com/pK6BVioGKKFs2ep0av79nA.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s) })()</script>

<!-- A tab to launch the Classic Widget -->
<script>
    UserVoice = window.UserVoice || [];
    UserVoice.push(['showTab', 'classic_widget', {
        mode: 'full',
        primary_color: '#cc6d00',
        link_color: '#007dbf',
        default_mode: 'support',
        forum_id: 215997,
        tab_label: 'Feedback',
        tab_color: '#cc6d00',
        tab_position: 'middle-right',
        tab_inverted: false
    }]);
</script>
      @*
      <br><br<br><br><br><br<br><br>
      <br><br<br><br>
      
      <footer>
       <center> <p>&copy; 360Cells 2013</p></center>
      </footer>
*@